

.TicTacToe{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.row {
  margin-top: -1px;
  margin-right: -1px;
  border: solid 1px black;
  width: 100px;
  height: 100px;
}

.line{
  background-color: red;
  width: 4px;
  height: 140px;
  transform: rotate(45deg);
  position: relative;
  left: 48px;
  bottom: 20px
}

.line_2{
  background-color: red;
  width: 4px;
  height: 140px;
  transform: rotate(-45deg);
  position: relative;
  left: 48px;
  bottom: 160px;
}